* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
}

#videoPanel {
    height: 100%;
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoPlayer {
    max-height: 100%;
    max-width: 100%;
}

#chatPanel {
    height: 100%;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

#chat {
    height: 100%;
    flex: 1 1 auto;
    overflow-y: hidden;

}

#chat > ul {
    height: 100%;
    /*flex: 1 1 auto;*/
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    align-items: stretch;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
}

#chat > ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

#chat > ul > li .msgRight{
    opacity: 0;
    transition: all 0.4s ease-out;
}

#chat > ul > li:hover .msgRight{
    opacity: 1;
}

#inputs {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}
#inputs > * {
    flex-basis: 100%;
}