:root {
    --page-button-active: #4caf50;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.item {
    flex: 0 0 30%;
    background-color: #4dc500;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#videos > .video {
    flex-basis: 30%;
    border: 1px dotted #888417;
    background-color: #0f9eb7;
    margin: 10px;
    font-size: 2rem;
    text-align: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination > .perpage {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: all 0.1s ease-in;
}

#pagination > .perpage {
    border: none;
    background-color: #ddd;
}

#pagination > .perpage:not(:first-child) {
    margin-left: 0.75rem;
}

#pagination > .perpage:focus {
    background-color: var(--page-button-active);
    outline: none;
}

#pagination > .perpage:hover {
    padding: 10px 20px;
    background-color: var(--page-button-active);
    filter: brightness(.9);
}

#pagination > .perpage.active {
    background-color: var(--page-button-active);
    color: white;
}
